
@{
    ViewBag.Title = "Index";
}

<h2>Resumo Mensal</h2>

<input type="date" id="data"/>
<button onclick="Filtrar()" class = "btn btn-success btn-sm" >Filtrar</button>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            Data
        </div>
        <div class="col-md-2">
            Data Processamento
        </div>
        <div class="col-md-2">
            Data Vencimento
        </div>
        <div class="col-md-2">
            Numero Documento
        </div>
        <div class="col-md-1">
            Pessoa
        </div>
        <div class="col-md-1">
            Status
        </div>
        <div class="col-md-1">
            Tipo
        </div>
        <div class="col-md-1">
            Valor
        </div>
        <hr />

        <div id="dados">
            <div class="campos">

            </div>
        </div>
    </div>
</div>

<script>
    function Filtrar() {
        var data = $("#data").val();
        console.log(data);

        $.ajax({
            url: "/ResumoMensal/BuscaDocFianaceiro",
            data: { data: data },
            success: function (result) {
                $(".campos").remove();
                $(result).each(function (i, item) {                    
                    AdicionaCampo(item);
                })                
            }
        })
    }

    function AdicionaCampo(item) {
        var campo = $('<div>', {
            class: 'campos'            
        })

        $('<div>', {
            class: 'col-md-2',
            text: MontaData(item.Data)
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-2',
            text: MontaData(item.DataProcessamento)
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-2',
            text: MontaData(item.DataVencimento)
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-2',
            text: item.NumeroDocumento
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-1',
            text: item.Pessoa
        }).appendTo(campo);

        var style = "background-color: green;";
        if (item.Status == "Processado")
            style = "background-color: yellow;";

        $('<div>', {
            class: 'col-md-1',
            text: item.Status,
            style: style
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-1',
            text: item.Tipo
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-1',
            text: item.Valor
        }).appendTo(campo);

        campo.appendTo("#dados")

        var strData = item.Data.slice(6, 19);
        console.log(strData)                        
    }

    function MontaData(strData) {
        var strDataEdit = strData.slice(6, 19);
        var data = new Date();
        data.setTime(strDataEdit);
        return data.toLocaleDateString() + " " + data.toLocaleTimeString();
    }
</script>