
@{
    ViewBag.Title = "Index";
}

<h2>Resumo Mensal</h2>
<br />

<div class="row">
    <input type="month" id="data" name="data" style="float:left; margin-right:10px;"
           min="2018-01" value="@DateTime.Now.Year-@DateTime.Now.Month"
           class="form-control" />
    <button onclick="Filtrar()"  class="btn btn-success btn-sm">Filtrar</button>
</div>
<div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-2">
            Data
        </div>
        <div class="col-md-2">
            Data Processamento
        </div>
        <div class="col-md-2">
            Data Vencimento
        </div>
        <div class="col-md-1">
            Nº Dcto
        </div>
        <div class="col-md-1">
            Pessoa
        </div>
        <div class="col-md-1">
            Status
        </div>
        <div class="col-md-2">
            Tipo
        </div>
        <div class="col-md-1">
            Valor
        </div>
    </div>
    <hr />

    <div id="dados">
        <div class="campos">
        </div>
    </div>
</div>

<script>
    function Filtrar() {
        var data = $("#data").val();
        console.log(data);

        $.ajax({
            url: "/ResumoMensal/BuscaDocFianaceiro",
            data: { data: data },
            success: function (result) {
                $(".campos").remove();
                $(result).each(function (i, item) {
                    AdicionaCampo(item);
                })
            }
        })
    }

    function AdicionaCampo(item) {
        var campo = $('<div>', {
            class: 'campos row'
        })

        $('<div>', {
            class: 'col-md-2',
            text: MontaData(item.Data)
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-2',
            text: MontaData(item.DataProcessamento)
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-2',
            text: MontaData(item.DataVencimento)
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-1',
            text: item.NumeroDocumento
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-1',
            text: item.Pessoa.Nome
        }).appendTo(campo);

        var style = "background-color: #00ff00;";
        if (item.Status == "Processado" && item.Pessoa.Nome == "Pessoa Anonima") {
            item.Status = "Concluido";
            style = "background-color: #00ff00;";
        } else if (item.Status == "Processado")
            style = "background-color: yellow;";

        var status = $('<div>', {
            class: 'col-md-1',
        })

        $('<a>', {
            text: item.Status,
            style: style
        }).appendTo(status)

        status.appendTo(campo);

        $('<div>', {
            class: 'col-md-2',
            text: item.Tipo
        }).appendTo(campo);

        $('<div>', {
            class: 'col-md-1',
            text: item.Valor
        }).appendTo(campo);

        campo.appendTo("#dados")

        var strData = item.Data.slice(6, 19);
        console.log(strData)
    }

    function MontaData(strData) {
        var strDataEdit = strData.slice(6, 19);
        var data = new Date();
        data.setTime(strDataEdit);
        return data.toLocaleDateString() + " " + data.toLocaleTimeString();
    }
</script>