
@{
    ViewBag.Title = "Gerar Documento";
}

<h2>Gerar Documento</h2>
<br />

<div class="form-horizontal">
    <hr />
    <label id="lblResposta" class="text-success" style="display: none;"></label>
    <div class="form-group">
        <label class="control-label col-md-2">Mês</label>
        <div class="col-md-10">            
            <input type="month" id="mes" name="mes"
                   min="2018-01" value="@DateTime.Now.Year-@DateTime.Now.Month"
                   class="form-control" />
        </div>
    </div>    

    <div class="form-group" id="tipoVeiculoClass">
        <label class="control-label col-md-2">Tipo</label>
        <div class="col-md-10">
            <select name="tipo" id="tipo" class="form-control" onchange="atualizaMensalista(this)">
                <option value="1">Mensalista</option>
                <option value="2">Veiculos</option>
            </select>
        </div>
    </div>

    <div class="form-group" id="divMensalista">
        <label class="control-label col-md-2">Mensalista</label>
        <div class="col-md-10">            
            @Html.DropDownList("MensalistaId", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="GerarDoc" type="submit" value="Gerar" class="btn btn-success" />
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function atualizaMensalista(item) {
        console.log(item.value)
        if (item.value == "2")
            $("#divMensalista").fadeOut()
        else
            $("#divMensalista").fadeIn()
    }    

    $("#GerarDoc").on("click", function () {
        if ($("#mes").val() == "") {
            $("#lblResposta").show();
            $("#lblResposta").text("Campo Mês é obrigatório");
            return;
        }

        $.ajax({
            url: "/FechamentoMes/Gerar",
            data: {
                mes: $("#mes").val(),
                Tipo: $("#tipo").val(),
                MensalistaId: $("#MensalistaId").val()
            },
            success: function (result) {                
                $("#lblResposta").show();
                $("#lblResposta").text(result);
            }
        })
    })
</script>
