@model Estacionamento.Models.TipoVeiculo

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Tipo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo Veiculo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id } , new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Voltar para a página", "Index", null, new { @class = "btn btn-warning btn-sm" })

</p>
